table, th, td {
    font-weight: bold;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid black;
  }
#azu {
    background-color: rgba(142,169,219,255);
  }
#verde {
    background-color: #92d050;
  }
